body {
    background: #c9c1c1;
}

body {
    display: inline-block;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

@media (min-width: 360px) and (max-width:640px) {
    body {
        transform: translate(-50%,-50%);
    }
}